{% extends "layout.html" %}
{% block body %}
<div class="well col-sm-6 col-sm-offset-2">
  <h2 style="margin-top: 0">{{_('Login')}}</h2>
  <form method="POST" role="form">
    <input type="hidden" name="next" value="{{next_url}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
      <label for="username">{{_('Username')}}</label>
      <input type="text" class="form-control" id="username" name="username" autocapitalize="off" placeholder="{{_('Username')}}" value="{{ username }}">
    </div>
    <div class="form-group">
      <label for="password">{{_('Password')}}</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="{{_('Password')}}" value="{{ password }}">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="remember_me" checked> {{_('Remember Me')}}
      </label>
    </div>
    <button type="submit" name="submit" class="btn btn-default">{{_('Login')}}</button>
    {% if config.config_login_type == 0 and mail%}
    <button type="submit" name="forgot" value="forgot" class="btn btn-default">{{_('Forgot Password?')}}</button>
    {% endif %}
    {% if g.current_theme == 1 %}
      {% if g.allow_registration %}
      <a class="btn btn-default" id="register" href="{{url_for('web.register')}}"><span class="glyphicon glyphicon-user"></span> {{_('Register')}}</a>
      {% endif %}
      {% if g.allow_anonymous %}
      <a class="btn btn-default" href="{{url_for('web.index')}}">{{ _('Home') }}</a>
      {% endif %}
    {%endif%}
    {% if config.config_remote_login %}
    <a href="{{url_for('remotelogin.remote_login')}}" id="remote_login" class="pull-right">{{_('Log in with Magic Link')}}</a>
    {% endif %}
    {% if config.config_login_type == 2 %}
      {% for id, name in oauth_check.items() %}
        <a href="{{ url_for('oauth.provider_login', provider_name=name) }}" class="pull-right btn btn-default btn-sm">
          {{ name }}
        </a>
      {% endfor %}
    {% endif %}
  </form>
</div>
  {% if error %}
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-danger">{{error}}</div>
  </div>
  {% endif %}
{% endblock %}
