{% extends "layout.html" %}
{% block body %}
<div class="well col-sm-6 col-sm-offset-2">
  <h2 style="margin-top: 0">{{_('Register New Account')}}</h2>
  <form method="POST" role="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% if not config.config_register_email %}
    <div class="form-group required">
      <label for="name">{{_('Username')}}</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="{{_('Choose a username')}}" required>
    </div>
    {% endif %}
    <div class="form-group required">
      <label for="email">{{_('Email')}}</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="{{_('Your Email')}}" required>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">{{_('Register')}}</button>
    {% if config and config.config_login_type == 2 %}
      {% for id, name in (oauth_check or {}).items() %}
      <a href="{{ url_for('oauth.provider_login', provider_name=name) }}" class="pull-right btn btn-default btn-sm">
        {{ name }}
      </a>
      {% endfor %}
    {% endif %}
  </form>
</div>
  {% if error %}
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-danger">{{error}}</div>
  </div>
  {% endif %}
{% endblock %}
